PUID=1001
PGID=1001
TZ=America/Chicago
MEDIA_DIRECTORY=/mnt/mediapool
INSTALL_DIRECTORY=/opt/yams

# Jellyfin stats
JELLYSTAT_POSTGRES_PASSWORD=changeme
JELLYSTAT_JWT_SECRET=changeme

# Arr API keys (used by exportarr + unpackerr)
SONARR_API_KEY=
RADARR_API_KEY=
LIDARR_API_KEY=
SABNZBD_API_KEY=
